.status-badge {
  padding: 4px 12px;
  border-radius: 30px;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  transform: rotate(-2deg);
}

.status-badge.success {
  background: #e8f8f1;
  color: #159a68;
  border: 1px solid #159a68;
}

.status-badge.pending {
  background: #fff4dc;
  color: #c58a12;
  border: 1px solid #c58a12;
}

.header_transactions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  svg {
    position: relative;
    top: 5px;
  }
}

.Tabel_transactions {
  border-radius: 20px;
  background-color: white;
  border-radius: 20px;
  padding: 10px 20px;
  box-shadow: 0 4px 12px rgba(108, 92, 231, 0.25);
}
