


.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 36px;
  padding: 0 12px;
  background: #faf9ff;
  border: 1px solid #888780;
  border-radius: 8px;
  transition: transform 0.2s ease-out, border-color 0.2s ease-out;
}

.search-container:focus-within {
  border-color: #B4B2A9;
  transform: scale(1.1);
}

.search-icon {
  flex-shrink: 0;
  color: #888780;
  order: 2;
}

.search-input {
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
  height: auto;
  font-size: 13px;
  color: #2C2C2A;
  text-align: right;
  order: 1;
  width: 100%;
}

.search-input::placeholder {
  color: #888780;
}




@media (max-width: 767px){
  .search-container {
    width: 100% !important;
  }
}
