<p-table [value]="tableData" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="5"
  [rowsPerPageOptions]="[5, 10, 20, 50]">

  <!-- HEADER -->
  <ng-template #header>
    <tr>

      <th *ngFor="let col of bodytabel" [pSortableColumn]="col.value">
        {{ col.key }}
        <svg-icon [svgStyle]="{ 'width.px': 18, 'height.px': 18 }" src="/Icons/basil--sort-solid.svg"></svg-icon>
      </th>

      <th *ngIf="actionsTemplate">
        Procedures
      </th>

    </tr>
  </ng-template>



  <!-- BODY -->
  <ng-template #body let-row>
    <tr>

      <td *ngFor="let col of bodytabel">

        <ng-container *ngIf="
            col.value === 'status' && statusTemplate;
            else normalCell
          ">

          <ng-container *ngTemplateOutlet="
              statusTemplate;
              context: { $implicit: row }
            "></ng-container>

        </ng-container>



        <ng-template #normalCell>
          <!-- إذا كان العمود نوعه تاريخ -->
          <ng-container *ngIf="col.type === 'date'; else standardCell">
            {{ row[col.value] | date: (col.format || 'dd/MM/yyyy') }}
          </ng-container>

          <!-- باقي البيانات العادية -->
          <ng-template #standardCell>
            {{ row[col.value] }}
          </ng-template>
        </ng-template>

      </td>


      <!-- ACTIONS -->
      <td *ngIf="actionsTemplate">

        <ng-container *ngTemplateOutlet="
            actionsTemplate;
            context: { $implicit: row }
          "></ng-container>

      </td>

    </tr>
  </ng-template>

</p-table>
