.wrapper_paying_bills {
  width: 100%;
  p {
    color: #5b6572;
  }
}

.wrapper_header_paying {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.header_paying_bills {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;

  .header_logo {
    background-color: #6d5ae0;
    color: white;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.btn_download_report {
  white-space: nowrap;
  background-color: #6d5ae0;
  color: white;

  font-weight: 700;
  font-size: 13px;
  padding: 9px 16px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  border: 1px solid transparent;
  transition: 0.3s linear;
  &:hover {
    border: 1px solid #d6dfea;
    background: #ffffff;
    color: #1f2430;
    transform: translateY(-5px);
  }
}

.Tabel {
  margin-top: 30px;
  width: 100%;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(108, 92, 231, 0.25);
}

.count {
  height: 25px;
  width: 25px;
  line-height: 25px;
  border-radius: 50%;
  display: inline-block;
}

.count:last-child {
  background: #e6e0ff;
  color: #6d5ae0;
}

.active_count {
  background: #6d5ae0 !important;
  color: #fff !important;
}

.tabs_button {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 10px;
  gap: 10px;
  background-color: #f7f7fb;
  border: 1px solid #d6dfea;

  .thumb {
    position: absolute;
    top: 10px;
    bottom: 10px;
    width: calc(50% - 20px);
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(108, 92, 231, 0.25);
    transition: right 0.3s ease;
    right: 15px;
    z-index: 1;
  }

  .thumb.pos-2 {
    right: calc(50% + 5px);
  }

  button {
    width: 50%;
    padding: 15px;
    background-color: transparent;
    border-radius: 15px;
    font-weight: bold;
    font-size: 15px;
    position: relative;
    z-index: 2;
    border: none;
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
  }

  button.active {
    color: #6d5ae0 !important;
  }
}

.wrapper_search {
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .wrapper_header_paying {
    flex-direction: column;
    .btn_download_report {
      width: fit-content;
      margin: auto;
    }
  }

  .header_paying_bills {
    flex-direction: column;
    text-align: center;
    margin-top: 10px;

    div:first-child {
      order: 2;
    }
    .header_logo {
      order: 1 !important;
    }
  }


  .tabs_button{
    svg{
      display: none;
    }
  }
}

