.wrapper_date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  svg{
    color: gray;
  }
}

.date_calnder {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  width: 100%;
  div {
    width: 30%;
  }
}

.wrapper_main_paget {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (max-width: 767px) {
  .date_calnder {
    div {
      width: 100%;
    }
  }
}
