<section>
  <div class="create_header_card">
    <button class="close-button" (click)="onCloseDilog()" type="button">
      <svg-icon [svgStyle]="{ 'width.px': 25, 'height.px': 25 }"
        src="/Icons/material-symbols--close-rounded.svg"></svg-icon>
    </button>


    <div>
      <h4>Issuing a new card</h4>
      <p>Select customer and card type.</p>
    </div>
  </div>


  <form [formGroup]="Form()" (ngSubmit)="OnSubmit()">
    <!-- Account -->
    <div class="Group">
      <label>please Select Account</label>
      <div class="wrapper_input">
        <p-select formControlName="accountId" appendTo="body" [options]="accounts()" [optionLabel]="'accountNumber'"
          [optionValue]="'id'" placeholder="Select Customer" [style]="{ 'width': '100%' }" />
        <svg-icon src="/Icons/hugeicons--user-round-check.svg" class="input-icon"></svg-icon>
      </div>
      @if (getControlName('accountId')?.touched && getControlName('accountId')?.invalid) {
      <div class="wrapper-error">
        <small class="error">*This Fild Is Reqiured</small>
      </div>
      }
    </div>


    <!-- Pin -->
    <div class="Group">
      <label>please Enter Pin</label>
      <div class="wrapper_input">
        <input formControlName="pin" maxlength="4" placeholder="Pin" />
        <svg-icon src="/Icons/bi--shield-check.svg" class="input-icon"></svg-icon>
      </div>

      @if (getControlName('pin')?.touched && getControlName('pin')?.invalid) {
      <div class="wrapper-error">
        @if (getControlName('pin')?.hasError('required')) {
        <small class="error">*This Field Is Required</small>
        } @else if (getControlName('pin')?.hasError('minlength') || getControlName('pin')?.hasError('pattern')) {
        <small class="error">*PIN must be exactly 4 digits</small>
        }
      </div>
      }
    </div>


    <!-- CardType -->
    <div class="Group">
      <label>please Enter CardType</label>
      <div class="wrapper_input">
        <input formControlName="cardType" placeholder="CardType" />
        <svg-icon src="/Icons/fluent--wallet-16-regular.svg" class="input-icon"></svg-icon>
        @if (getControlName('cardType')?.touched && getControlName('cardType')?.invalid) {
        <div class="wrapper-error">
          <small class="error">*This Fild Is Reqiured</small>
        </div>
        }
      </div>

    </div>



    <!-- Action Button -->
    <div class="action_form">
      <button type="button" (click)="onCloseDilog()">Cansel <svg-icon
          src="/Icons/material-symbols--close-rounded.svg"></svg-icon></button>
      <button type="submit">Create Creadit <svg-icon src="/Icons/mdi--success.svg"></svg-icon></button>
    </div>
  </form>
</section>
