div[style*='position: fixed'][style*='bottom'][style*='right'][style*='z-index'] {
  display: none !important;
  opacity: 0 !important;
  pointer-events: none !important;
}

div:has(> *:contains('PrimeUI')),
div:has-text('Invalid PrimeUI License'),
.p-license-badge {
  display: none !important;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  background-color: #f6f5fb;
  user-select: none;
  direction: rtl;
  // direction: ltr;
}

button {
  cursor: pointer;
    border: none;
}

::-webkit-scrollbar {
  height: 4px;
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #e6e2e2;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  height: 1px;
  background-color: #bebbbb;
}

li {
  list-style: none;
}
