.header_loans {
  .content_header {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    .container_svg {
      height: 30px;
      width: 30px;
      background: #e6e0ff;
      color: #6d5ae0;
      border: 1px solid #6d5ae0;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
    }
  }
  p {
    margin-top: 10px;
    font-size: 13.5px;
    display: flex;
    align-items: center;
    gap: 7px;
    .title {
      color: #6d5ae0;
      background-color: white;
      box-shadow: 0 4px 12px rgba(108, 92, 231, 0.25);
      padding: 10px;
      border-radius: 30px;
      font-weight: 600;
    }
    .arrow {
      color: gray;
      font-size: 20px;
      font-weight: 600;
    }
  }
}

.tabel_loans {
  margin-top: 30px;
  border-radius: 20px;
  background-color: white;
  border-radius: 20px;
  padding: 10px 20px;
  box-shadow: 0 4px 12px rgba(108, 92, 231, 0.25);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.buttons_tap {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  border-bottom: 1px solid #dce0da;
  position: relative;

  button {
    color: #5b6572;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.2s ease;

    &.active {
      color: #6d5ae0;
      background-color: #ffffff;
      border: 1px solid #dce0da;
      border-bottom: 1px solid #ffffff !important;
      border-radius: 10px 10px 0 0;
      margin-bottom: -1px;
      font-weight: 600;
    }
  }
}



.wrapper_Statistics {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;

  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #cbd5e1;
    box-shadow: 0 4px 12px rgba(108, 92, 231, 0.25);
    padding: 15px;
    border-radius: 15px;
    position: relative;
    text-align: center;

    h3 {
      font-size: 30px;
      margin: 0;
      padding-bottom: 5px;
    }

    p {
      position: relative;
      font-size: 12.5px;
      color: #736f8a;
      font-weight: 600;
      margin: 0;
    }

    .icon {
      position: absolute;
      inset-inline-start: 15px;
      top: 30px;
      transform: translateY(-50%);
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 13px;
    }

    $card-theme-colors: (
      'warning': (
        'bg': #fef3e2,
        'color': #b07219
      ),
      'success': (
        'bg': #e6f4ea,
        'color': #137333
      ),
      'danger': (
        'bg': #fce8e6,
        'color': #c5221f
      )
    );

    @each $state, $colors in $card-theme-colors {
      &.#{$state} {
        .icon {
          background-color: map-get($colors, 'bg');
          color: map-get($colors, 'color');


        }
      }
    }
  }
}


